:root {
  --main-bg-color: #dee0e0;
  --main-text-color: #241612;
  --main-color: #204A32;
  --main-color-hover: #306145;
  --secondary-color: #429767;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.small-logo img {
  width: 50px;
  height: 50px;
}

.big-logo {
  /* position: absolute; */
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.avatar {
  display: flex;
}

.topbar {
  display: flex;
  position: absolute;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  background: white;
  width: 100%;
  box-shadow: 0px 2px 5px #aaaaaa;
  align-items: center;
  height: 60px;
}

.container {
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20rem;
}

.container h1 {
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.login {
  margin: auto;
  margin-top: 1rem;
  display: flex;
}

.login button {
  margin: auto;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color: var(--secondary-color);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.discount-price {
  color: var(--main-color-hover);
}

.discount-price span {
  text-decoration: line-through;
  color: #888;
}

#cart {  
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.cart-content {
  background-color: #fefefe;
  margin: auto;
  right: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  border-radius: 10px;
}

#close-cart {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-cart:hover,
#close-cart:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

.savings-info {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.btn {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.05);
}

.topbar span {
  color: var(--main-text-color);
  font-size: 2rem;
  padding-left: 10px;
}

.welcome-msg {
  font-size: 1.5rem !important;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.product button {
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.item-categories {
  padding-top: 5rem;
  text-align: center;
}

.active-btn {
  background-color: var(--main-color) !important;
  color: white !important;
}

.category-btn {
  background-color: #B7C0B4;
  color: black;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 7rem;
}
/* 
.category-btn:focus {
  background-color: var(--main-color) !important;
  color: white !important;
} */

.category-btn:first-child {
  border-radius: 10px 0px 0px 10px;
}

.category-btn:last-child {
  border-radius: 0px 10px 10px 0px;
}

.food-item {
  float: left;
  width: calc(25% - 20px);
  border-radius: 10px;
  margin: 10px;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.food-item p {
  font-size: 18px;
}

.cart-buttons {
  display: flex;
  justify-content: space-around;    
  margin-top: 10px;
}

.total-price-container {
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
}

#buy-button {
  width: 100px;
}

#empty-cart-btn {
  width: 120px;
  background-color: var(--secondary-color) !important;
}

#total-price {
  font-weight: bold;
}

.ingredients-container {
  text-align: left;
  height: 110px;
  overflow: auto;
}

.item-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-items {
  height: 80%;
  overflow: auto;
  margin-top: 20px;
}

.add-to-cart-btn {
  bottom: 10px;
  position: absolute;
  width: 90%; 
}

.cart-item {
  /* border: 1px solid black; */
  border-bottom: 1px dashed black;
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;    
  padding: 10px;
  margin-top: 15px;
  font-size: 1.2rem;
}
/* .shop-items {
  padding-top: 10rem;
} */

.card-container {  
  padding-left: 5%;
  padding-right: 5%;
}

.card-container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .food-item {
     width: 95%;
  }

  .card-container {
    padding-left: 0;
    padding-right: 0;
  }

  .cart-content {
    background-color: #fefefe;
    margin: auto;
    right: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    height: 80%;
    border-radius: 10px;
  }
}