:root {
  --main-bg-color: #dee0e0;
  --main-text-color: #241612;
  --main-color: #204A32;
  --main-color-hover: #306145;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.small-logo img {
  width: 50px;
  height: 50px;
}

.big-logo {
  /* position: absolute; */
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.topbar {
  padding-top: 0.5rem;
  display: flex;
  position: absolute;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  background: white;
  padding-bottom: 0.2rem;
  width: 100%;
  box-shadow: 0px 2px 5px #aaaaaa;
}

.container {
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20rem;
}

.container h1 {
  color: var(--main-text-color);
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.login {
  margin: auto;
  display: flex;
}


.login button {
  margin: auto;
}

.btn {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login button:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.1);
}

.topbar span {
  color: var(--main-text-color);
  font-size: 2rem;
  padding-left: 10px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.product button {
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.food-item {
  float: left;
  width: calc(25% - 20px);
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.food-item p {
  font-size: 18px;
}

.shop-items {
  padding-top: 10rem;
}

.card-container {  
  padding-left: 5%;
  padding-right: 5%;
}

.card-container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .card {
     width: 95%;
  }

  .card-container {
    padding-left: 0;
    padding-right: 0;
  }
}