:root {
  --main-bg-color: #dddddd;
  --main-text-color: #2c2c2c;
  /* --main-color: #204A32; */
  --main-color: #785DC5;
  /* --main-color-hover: #306145; */
  --main-color-hover: #AA8CFF;
  --main-color-light: #c4b9e7;
  /* --secondary-color: #429767; */
  --secondary-color: #F4CE2B;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.small-logo img {
  width: 50px;
  height: 50px;
}

.big-logo {
  /* position: absolute; */
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 10rem;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.avatar {
  display: flex;
}

.topbar {
  display: flex;
  position: absolute;
  font-family: 'Anton', sans-serif;
  /* font-family: 'Poiret One', cursive; */
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  background: white;
  width: 100%;
  box-shadow: 0px 2px 5px #aaaaaa;
  align-items: center;
  height: 60px;
}

.container {
  /* position: absolute; */
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 15rem;
  /* text-align: center; */
  padding-left: 100px;
}

.container h1 {
  color: var(--main-text-color);
  /* text-align: center; */
  font-family: 'Anton', sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.login {
  margin: auto;
  margin-top: 3rem;
  /* display: flex; */
}

.login button {
  margin: auto;
}

.raccoon {
  position: absolute;
  right: 0px;
  bottom: 0px;;
  height: 100%;
  pointer-events: none;
}

.raccoon img {
  height: 100%;
}

.raccoon-mobile {
  pointer-events: none;
}

.raccoon-mobile img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* height: 100%; */
  width: 100%;
}

/* .raccoon-mobile img {
  width: 100%;
} */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color: var(--secondary-color);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.discount-price {
  color: var(--main-color-hover);
}

.discount-price span {
  text-decoration: line-through;
  color: #888;
}

#cart {  
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.cart-content {
  background-color: #fefefe;
  margin: auto;
  right: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  border-radius: 10px;
}

/* #user-content {
  display: none;
}
*/

#form-container {  
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.form-content {
  background-color: #fefefe;
  margin: auto;
  right: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  border-radius: 10px;
}

#shop-owner-content {
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 
#shop-owner-content > span{
  font-size: large;
  padding-top: 5rem;
  margin-left: 15px;
} 

#listings {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  max-height: 80%;
  overflow: auto;
}

#listings td, #listings th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listings tr:nth-child(even){background-color: #f2f2f2;}

/* #listings tr:hover {background-color: #ddd;} */

#listings th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main-color-hover);
  color: white;
}

.add-item-btn {
  margin: 0 15px;
}

.form-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#add-item-form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#add-item-form input {
  padding: 10px;
}

.submit-container {
  text-align: center;
}

#submit-button {
  width: fit-content;
}

#close-cart {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-cart:hover,
#close-cart:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#close-form {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-form:hover,
#close-form:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

.savings-info {
  font-size: 1.2rem;
  /* padding: 1rem; */
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#savings {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  margin-right: 10px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

.btn {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.05);
}

.topbar span {
  color: var(--main-text-color);
  font-size: 2rem;
  padding-left: 10px;
}

.welcome-msg {
  font-size: 1.2rem !important;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

* {
  box-sizing: border-box;
}

.product button {
  border: none;
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.item-categories {
  padding-top: 5rem;
  text-align: center;
}

.active-btn {
  background-color: var(--main-color) !important;
  color: white !important;
}

.category-btn {
  background-color: var(--main-color-light);
  color: black;
  font-weight: bold;
  padding: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  width: 7rem;
}
/* 
.category-btn:focus {
  background-color: var(--main-color) !important;
  color: white !important;
} */

.category-btn:first-child {
  border-radius: 10px 0px 0px 10px;
}

.category-btn:last-child {
  border-radius: 0px 10px 10px 0px;
}

.food-item {
  float: left;
  width: calc(25% - 20px);
  border-radius: 10px;
  margin: 10px;
  height: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.food-item p {
  font-size: 18px;
}

.cart-buttons {
  display: flex;
  justify-content: space-around;    
  margin-top: 10px;
}

.total-price-container {
  font-size: 1.5rem;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
}

#buy-button {
  width: 100px;
}

#empty-cart-btn {
  width: 120px;
  background-color: var(--secondary-color) !important;
}

#total-price {
  font-weight: bold;
}

.ingredients-container {
  height: 110px;
  text-align: left;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-items {
  height: 80%;
  overflow: auto;
  margin-top: 20px;
}

.add-to-cart-btn {
  bottom: 10px;
  position: absolute;
  width: 90%; 
}

.cart-item {
  /* border: 1px solid black; */
  border-bottom: 1px dashed black;
  /* border-radius: 10px; */
  display: flex;
  justify-content: space-between;    
  padding: 10px;
  margin-top: 15px;
  font-size: 1.2rem;
}
/* .shop-items {
  padding-top: 10rem;
} */

.card-container {  
  padding-left: 5%;
  padding-right: 5%;
}

.card-container:after {
  content: "";
  display: table;
  clear: both;
}

.not-desktop {
  display: none;
}

@media screen and (max-width: 600px) {
  .food-item {
     width: 95%;
  }

  .container {
    padding-left: 0px;
    padding-top: 5rem;
    text-align: center;
  }

  .container h1 {
    text-align: center;
    justify-content: center;
  }

  .savings-info {
    padding: 1rem;
  }

  #savings {
    margin-right: 0px;
  }

  .not-mobile {
    display: none;
  }

  .not-desktop {
    display: inline;
  }

  .card-container {
    padding-left: 0;
    padding-right: 0;
  }

  .cart-content {
    background-color: #fefefe;
    margin: auto;
    right: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    height: 80%;
    border-radius: 10px;
  }

  .form-content {
    background-color: #fefefe;
    margin: auto;
    right: 100px;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    height: 80%;
    border-radius: 10px;
  }
}